{% extends 'base.html' %}
{% load staticfiles %}
        {% block titulo %}
            <h1>Categoria</h1>
        {% endblock %}

        {% block container %}
            {% if category %}
                <h1>{{ category_name }}</h1>
                    {% if pages %}
                    <ul>
                    {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul></br>


                {% else %}
                     <strong>Nenhuma pagina nesta categoria, por enquanto.</strong>
                {% endif %}

                {% if category_comments != '' %}
                     <h4> Sobre a categoria {{category_name}}...</h4>
                     <p> {{category_comments}} </p>
                {% endif %}

                {% else %}
                     A categoria {{ category_name }} nao existe.
            {% endif %}
        {% endblock %}