{% extends 'base.html' %}
{% load staticfiles %}

        {% block titulo %}
            {% if user.is_authenticated %}
                <h1>Olá, {{ user.username }}!</h1>
            {% else %}
                <h1>Bem vindo ao Rango!</h1>
            {% endif %}
        {% endblock %}

        {% block container %}
                    {% if categories %}
                        <h3> Top 5 mais visitadas: </h3>
                        <ul>
                            {% for category in categories %}
                                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h4>Nenhuma categoria foi encontrada.</h4>
                    {% endif %}
        {% endblock %}
